{% extends 'BloggerBlogBundle::layout.html.twig' %}
{% block title %}
Select password reset method
{% endblock %}

{% block body %}
    {# TO CHECK DIFFRENT TYPES OF FLASH MESSAGES AND RENDER APPROPRIATE NOTICE #}
    {% include 'BloggerUserBundle:User:notice.html.twig' with {'flashName': 'flashError', 'flashFor':'ERROR' } %}
    {% include 'BloggerUserBundle:User:notice.html.twig' with {'flashName': 'flashWarning', 'flashFor':'WARNING' } %}
    {% include 'BloggerUserBundle:User:notice.html.twig' with {'flashName': 'flashSuccess', 'flashFor':'SUCCESS' } %}

<form class="blogger" action="" method="post" novalidate="novalidate" >
    <div>
        <div>
            <label for="username">Email ID :</label>
            {{ form_errors(form.email) }}
            {{ form_widget(form.email) }}
            {{ form_rest(form)  }}
{#            <input type="email" id="emailid" name="email_id" required="required" />#}
{#            <p class="blogger-notice info">Enter your email id to send reset your password !!</p>#}
        </div>
        <div>
            <button type="submit">Send Resetcode</button>
        </div>
    </div>
</form>
<p> If you have a resetcode,  <a href="{{ path("BloggerUserBundle_reset_password_email_link",{tech: "code" }) }}">click here</a></p>
{% endblock %}