{% extends 'BloggerBlogBundle::layout.html.twig' %}

 {% block body %}

    {#{% if error %}
        <div class="blogger error" > {{ error.message }}</div>
    {% endif %}#}
  {{ form(form,{'attr': {'novalidate': 'novalidate', 'class':'blogger'}} ) }}

    {% endblock %}