{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}
    login
{% endblock %}

 {% block body %}



{# TO CHECK LOGIN ERROR #}
 {% if error %}
    {% include 'BloggerUserBundle:User:notice.html.twig' with {'flashName': error.message, 'flashFor':'ERROR' , 'isFlash': 'true' } %}
 {% endif %}

{# TO CHECK DIFFRENT TYPES OF FLASH MESSAGES AND RENDER APPROPRIATE NOTICE #}
{% include 'BloggerUserBundle:User:notice.html.twig' with {'flashName': 'loginError', 'flashFor':'ERROR' } %}
{% include 'BloggerUserBundle:User:notice.html.twig' with {'flashName': 'loginWarning', 'flashFor':'WARNING' } %}
{% include 'BloggerUserBundle:User:notice.html.twig' with {'flashName': 'loginSuccess', 'flashFor':'SUCCESS' } %}

<form class="blogger" action="{{ path('login_check') }}" method="post">
    <div>
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" />
        </div>
        <div>
            <input type="checkbox" id="remember_me" name="_remember_me" checked />
            <label for="remember_me">Keep me logged in</label>
        </div>
        <div>
            <button type="submit">login</button>
        </div>
    </div>
</form>
    <a href="{{ path("BloggerUserBundle_reset_password") }}">Forget password ?</a>
    {% endblock %}