<h1>GET OBJ</h1>
{% for item in obj %}
    {{ item.id }}
{% endfor %}
<h1>GET</h1>
{% for item in get %}
    {{ item }}
{% endfor %}
<h1>Send</h1>
{% for item in send %}
    {{ item }}
{% endfor %}


